<section class="">
  <footer class="bg-body-tertiary text-center">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact me</h5>

          <p>
            I am always open to discussing new projects, creative ideas, or opportunities to be part of your vision. Feel free to reach out to me through the following
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase mb-0"></h5>
          <ul class="list-unstyled mb-0">
            <li>
              <p><a href="https://www.linkedin.com/in/gehad-gallo-270400126" class="text-body">LinkedIn</a></p>
            </li>
            <li>
              <p><a href="https://github.com/gehad-gallo" class="text-body">GitHub</a></p>
            </li>
            
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0"></h5>

          <ul class="list-unstyled">
           <li>
              <p class="text-body">01068022744</p>
            </li>
            <li>
              <p class="text-body">Cairo, First settlement</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

   
  </footer>
</section>