
.centered {
  position: relative;
  text-align: center;  
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  
}


.gehad {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
