
.container{
	margin-top: 5%;
	padding: 2%;
	margin-bottom: 150px;
}

.portfolio{
	text-align: center;
	font-size: 45px;
	font-family: sans-serif;
	margin-top: 10%;
	margin-bottom: 5%;

}

.col-sm{
	border: 20px solid white;
	padding: 80px;
	background-color: lightgray;
	font-size: 25px;
	text-align: center;
  	font-family: Arial, sans-serif;
	color: #595959;
	font: bold;

}