<div class="container">
	<h1 class="portfolio"><b>Portfolio</b></h1>
  <div class="row">
    <div class="col-sm">
      HTML
    </div>
    <div class="col-sm">
      CSS
    </div>
    <div class="col-sm">
      Java Script
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      GIT
    </div>
    <div class="col-sm">
      ANGULAR
    </div>
    <div class="col-sm">
      NODE.JS
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      PHP 
    </div>
    <div class="col-sm">
      LARAVEL
    </div>
    <div class="col-sm">
      REACT
    </div>
  </div>
</div>