<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2><b>About Me</b></h2> 
        </div>
        <div class="about_text col-md-8">
            <p>I am a dedicated and experienced back-end web developer with a strong foundation in building and maintaining scalable, high-performance web applications. With a keen eye for detail and a passion for problem-solving, I have developed a diverse skill set that includes server-side programming, database management, and API integration. My proficiency in multiple programming languages and frameworks allows me to deliver robust and efficient solutions tailored to meet the unique needs of each project.</p> <br>


            <p>I am a skilled and passionate Laravel developer with extensive experience in building robust and scalable web applications. With a deep understanding of the Laravel framework and its ecosystem, I excel in creating clean, efficient, and maintainable code. My background in PHP development, combined with a commitment to staying current with industry trends, enables me to deliver high-quality solutions that meet diverse business needs.</p><br>

            <p>My ability to seamlessly integrate different technologies allows me to deliver comprehensive and cohesive web solutions. I thrive in dynamic environments, leveraging my extensive technical expertise and collaborative skills to build user-friendly, efficient, and scalable applications.</p>
            
        </div>
    </div>
</div>
